<!doctype html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout :: layout(~{::title}, ~{::section})}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<section>
    <a th:href="@{/cities/new}" class="btn btn-primary">create</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="city: ${cities}">
                <td th:text="${city.id}"></td>
                <td th:text="${city.name}"></td>
                <td>
                    <a th:href="@{/cities/{id}(id=${city.id})}" class="btn btn-small btn-info">edit</a>
                    <form th:action="@{/cities/{id}(id=${city.id})}" th:method="delete" style="display: inline-block;">
                        <button type="submit" class="btn btn-small btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</section>

</body>
</html>